/* fonts */
@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --primary-color: #7177F1;
    --body-color: #151437;
    --text-color: #fff;
    --dot-color: #828282;
    --dot-active: #7177F1;
    --white:#fff;
    --footer-link: #fff;
    --Montserrat: "Montserrat";
    --Trebuchet: "Trebuchet";
}


/* GLOBAL STYLES */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: var(--body-color);
    font-family: var(--Montserrat);
}

/* BTN */

.all-btn {
    display: block;
    background-color: var(--primary-color);
    padding: 12px 58px;
    color: var(--white) !important;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.50);
    border-radius: 8px;
    text-align: center;
    width: max-content;
    font-family: var(--Montserrat);
    transition: .5s;
}

.all-btn:hover {
    background-color: #790FF1;
    cursor: pointer;
}
.all-btn:active {
    opacity: .8;
}

/* headline */

.headline {
    font-family: var(--Montserrat);
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
}


/* SITE HEADER */

.header-logo::after {
    content: url(../img/MYWORK\ dark.svg);
    display: inline-block;
}

.navbar-list {
    column-gap: 30px;
    row-gap: 20px;
}
.header__nav-link {
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    line-height: 16px;
}
.navbar-toggler {
    color: var(--white) !important;
}
.navbar-toggler-icon {
    color: var(--white) !important;
    background-color: var(--white) !important;
}

.header-menu {
    width: 40px;
    height: 40px;
    padding: unset;
    border: unset;
    position: relative;

}

.header-menu:focus {
    box-shadow: unset;
}

.header-menu__line {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    display: block;
    position: relative;
    transition: .3s;
   
}

.header-menu__line::before,
.header-menu__line::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    left: 0;
}

.header-menu__line::before {
    top: -10px;
    transition: .3s;
}
.header-menu__line::after {
    top: 10px;
    transition: .3s;
}
.header-menu:not(.collapsed) .header-menu__line::before {
    transform: rotate(45deg);
    top: 0;
}
.header-menu:not(.collapsed) .header-menu__line::after {
    transform: rotate(-45deg);
    top: 0;
}
.header-menu:not(.collapsed) .header-menu__line{
    background-color: transparent;
}
/* SITE HEADER */