@media (prefers-color-scheme: dark) {
    :root {
        --body-color: #fff;
        --text-color: #323232;
        --dot-color: #EBEBEB;
        --footer-link: #7177F1;
    }

    .header-logo::after {
        content: url(../img/MYWORK.svg);
    }
}